<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Library</key>
		<string>Greenwood</string>
		<key>Shelves</key>
		<array>
			<array>
				<string>The Hobbit</string>
				<string>The Ring</string>
			</array>
			<array>
				<string>Scarlet Letter</string>
				<string>Moby Dick</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>Library</key>
		<string>University</string>
		<key>Shelves</key>
		<array>
			<array>
				<string>Green Eggs and Ham</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>Library</key>
		<string>Ballard</string>
		<key>Shelves</key>
		<array>
			<array>
				<string>Stone Diaries</string>
				<string>Project Genius</string>
				<string>Bourne Legacy</string>
			</array>
		</array>
	</dict>
</array>
</plist>
