<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Library</key>
		<string>Greenwood</string>
		<key>Shelves</key>
		<array>
			<dict>
				<key>book 1</key>
				<string>the-hobbit.jpg</string>
				<key>book 2</key>
				<string>Shelf 1</string>
			</dict>
			<dict>
				<key>book 1</key>
				<string>fellowship.jpg</string>
				<key>book 2</key>
				<string>Shelf 2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Library</key>
		<string>University</string>
		<key>Shelves</key>
		<array>
			<dict>
				<key>book 1</key>
				<string>digital-fortress.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Library</key>
		<string>Ballard</string>
		<key>Shelves</key>
		<array>
			<dict>
				<key>Cover</key>
				<string>stone.jpg</string>
				<key>Title</key>
				<string>Shelf 1</string>
				<key>Year</key>
				<string>1997</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
